[submodule "astro"]
	path = astro
	url = https://github.com/KarenEYoval/astro.git
[submodule "Django"]
	path = Django
	url = https://github.com/KarenEYoval/Django.git
[submodule "Next"]
	path = Next
	url = https://github.com/KarenEYoval/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/KarenEYoval/Angular.git
