[submodule "astro"]
	path = astro
	url = https://github.com/KarenEYoval/astro.git
[submodule "Django"]
	path = Django
	url = https://github.com/KarenEYoval/Django.git
[submodule "Next"]
	path = Next
	url = https://github.com/KarenEYoval/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/KarenEYoval/Angular.git
[submodule "express"]
	path = express
	url = https://github.com/KarenEYoval/express.git
[submodule "Springboot"]
	path = Springboot
	url = https://github.com/KarenEYoval/Springboot.git
[submodule "React"]
	path = React
	url = https://github.com/KarenEYoval/React.git
