<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
</head>
  <body>
    <h1>Productos</h1>
<form action="/crear" method="post">
 <input type="text" name="nombre" placeholder="producto" required>
  <input type="number" name="precio" placeholder="Precio" required>
  <button type="submit">Crear</button>
</form>
<!--Agregamos la ruta para la edicion-->
    <ul>
    {% for producto in productos %}
        <li>{{ producto.nombre }} = ${{ producto.precio }}
            <a href="/editar/{{ producto.nombre }}/{{ producto.precio }}">Editar</a>
            <a href="/eliminar/{{ producto.nombre }}" onclick="return confirm('Seguro que deseas eliminar?')">Eliminar</a>
        </li>
    {% endfor %}
    </ul>
  </body>
</html>
